<font color=Green>
    
# **3.10 Combinar conjuntos de datos**

</font>

In [3]:
import numpy as np
import pandas as pd

<img src="https://www.campusmvp.es/recursos/image.axd?picture=INNER-LEFT-RIGHT-FULL-JOIN.png">

##  <font color=#003d5c> _pd.merge()_ </font>

In [7]:
clima_p = pd.read_csv(r'ny_precipitaciones.csv')
clima_p.shape

(2000, 13)

In [8]:
clima_p.head()

,STATION,NAME,DATE,MLY-DUTR-NORMAL,MLY-DUTR-STDDEV,MLY-PRCP-25PCTL,MLY-PRCP-50PCTL,MLY-PRCP-75PCTL,MLY-PRCP-AVGNDS-GE001HI,MLY-PRCP-AVGNDS-GE010HI,MLY-PRCP-AVGNDS-GE050HI,MLY-PRCP-AVGNDS-GE100HI,MLY-PRCP-NORMAL
0,USC00301492,"CINCINNATUS, NY US",1,NaN,NaN,2.04,2.48,3.52,16.8,7.8,1.3,0.3,2.80
1,USC00301492,"CINCINNATUS, NY US",3,NaN,NaN,2.52,3.09,3.89,14.0,8.1,2.0,0.5,3.20
2,USC00301492,"CINCINNATUS, NY US",5,NaN,NaN,2.25,3.07,5.00,12.9,8.4,2.3,0.6,3.96
3,USC00301492,"CINCINNATUS, NY US",6,NaN,NaN,3.31,4.45,5.67,14.3,9.3,3.0,0.7,4.51
4,USC00301492,"CINCINNATUS, NY US",7,NaN,NaN,2.98,3.83,4.87,12.8,8.5,3.2,0.9,4.11

In [9]:
clima_p.tail()

,STATION,NAME,DATE,MLY-DUTR-NORMAL,MLY-DUTR-STDDEV,MLY-PRCP-25PCTL,MLY-PRCP-50PCTL,MLY-PRCP-75PCTL,MLY-PRCP-AVGNDS-GE001HI,MLY-PRCP-AVGNDS-GE010HI,MLY-PRCP-AVGNDS-GE050HI,MLY-PRCP-AVGNDS-GE100HI,MLY-PRCP-NORMAL
1995,USW00094725,"MASSENA INTERNATIONAL AIRPORT, NY US",8,22.2,1.6,2.53,3.52,4.56,11.1,6.6,2.1,0.8,3.52
1996,USW00094725,"MASSENA INTERNATIONAL AIRPORT, NY US",9,22.1,2.5,2.34,3.30,4.63,11.7,7.2,2.3,0.8,3.65
1997,USW00094725,"MASSENA INTERNATIONAL AIRPORT, NY US",10,19.8,2.0,1.83,3.22,4.06,12.3,7.1,1.8,0.7,3.31
1998,USW00094725,"MASSENA INTERNATIONAL AIRPORT, NY US",11,16.4,2.0,2.12,3.07,3.98,14.2,7.6,1.6,0.4,3.03
1999,USW00094725,"MASSENA INTERNATIONAL AIRPORT, NY US",12,16.8,2.6,1.77,2.26,2.81,14.6,6.6,1.2,0.2,2.43

In [10]:
clima_t = pd.read_csv(r'ny_temperaturas.csv')
clima_t.shape

(2244, 9)

In [11]:
clima_p.NAME

0                         CINCINNATUS, NY US
1                         CINCINNATUS, NY US
2                         CINCINNATUS, NY US
3                         CINCINNATUS, NY US
4                         CINCINNATUS, NY US
                        ...
1995    MASSENA INTERNATIONAL AIRPORT, NY US
1996    MASSENA INTERNATIONAL AIRPORT, NY US
1997    MASSENA INTERNATIONAL AIRPORT, NY US
1998    MASSENA INTERNATIONAL AIRPORT, NY US
1999    MASSENA INTERNATIONAL AIRPORT, NY US
Name: NAME, Length: 2000, dtype: object

In [12]:
 clima_p[clima_p["NAME"] == "ITHACA CORNELL UNIVERSITY, NY US"]

,STATION,NAME,DATE,MLY-DUTR-NORMAL,MLY-DUTR-STDDEV,MLY-PRCP-25PCTL,MLY-PRCP-50PCTL,MLY-PRCP-75PCTL,MLY-PRCP-AVGNDS-GE001HI,MLY-PRCP-AVGNDS-GE010HI,MLY-PRCP-AVGNDS-GE050HI,MLY-PRCP-AVGNDS-GE100HI,MLY-PRCP-NORMAL
819,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",1,15.9,1.8,1.15,1.90,2.76,15.8,5.8,0.7,0.1,2.08
820,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",3,19.0,1.9,2.08,2.37,3.16,13.8,6.2,1.4,0.3,2.64
821,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",6,22.7,2.4,2.89,3.89,4.86,13.8,8.9,2.5,0.7,3.99
822,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",7,22.1,1.8,2.81,3.40,4.78,12.1,8.1,2.7,0.8,3.83
823,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",8,22.3,1.7,2.48,3.52,4.37,11.5,7.0,2.5,0.9,3.63
824,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",9,22.1,2.4,2.43,3.45,4.98,12.0,7.0,2.5,0.8,3.69
825,USC00304174,"ITHACA CORNELL UNIVERSITY, NY US",11,15.8,2.0,2.55,3.00,3.90,14.4,6.7,1.9,0.4,3.16

In [13]:
precip_itaca = clima_p[clima_p["NAME"] == "ITHACA CORNELL UNIVERSITY, NY US"]
precip_itaca.shape

(7, 13)

### De forma predeterminada `pd.merge` realiza un _Inner Join_ entre ambos DataFrames

In [ ]:
itaca_inner_merge = pd.merge(precip_itaca, clima_t)
itaca_inner_merge.shape

In [ ]:
itaca_inner_merge.head()

### Podemos especificarle a `pd.merge` qué  clase de _Join_ deseamos hacer entre los DataFrames

In [ ]:
#Outer join

itaca_outer_merge = pd.merge(precip_itaca, clima_t, how="outer", on=["STATION", "DATE"])
itaca_outer_merge.columns

In [ ]:
itaca_outer_merge.shape

In [ ]:
itaca_outer_merge.head(30)

In [ ]:
# Left Join

itaca_left_merge = pd.merge(clima_t, precip_itaca,
                        how="left", on=["STATION", "DATE"])
itaca_left_merge.shape

In [ ]:
# Right Join

itaca_right_merge = pd.merge(clima_t, precip_itaca,
                        how="right", on=["STATION", "DATE"])
itaca_right_merge.shape

##  <font color=#003d5c> _.join()_ </font>

### Éste es un método contenido en el clase `DataFrame`.
### Se diferencia de `pd.merge()` en que aquél es una función del módulo pandas y que `.join()` (de forma predeterminada) busca unir los conjuntos a partir de los índices.

In [ ]:
clima_t.join(clima_p)

In [ ]:
clima_join = clima_t.join(clima_p, lsuffix='_left')
clima_join

In [ ]:
clima_p.set_index(["STATION", "DATE"])

In [ ]:
clima_joined_total = clima_t.join(clima_p.set_index(["STATION", "DATE"]),
                                lsuffix="_x",
                                rsuffix="_y",
                                on=["STATION", "DATE"],
                                )
clima_joined_total.head()

##  <font color=#003d5c> _pd.concat()_ </font>

### Esta función nos permite juntar DataFrames a través de un eje, o las filas o las columnas.

In [ ]:
clima_total_outer_concat = pd.concat([clima_t, clima_p], axis=1)
clima_total_outer_concat.tail()

In [ ]:
clima_total_outer_concat = pd.concat([clima_t, clima_p], axis=0)
clima_total_outer_concat.shape

In [ ]:
df_jerar = pd.concat([clima_t, clima_p], keys=["temp", "precip"])
df_jerar