<font color=Green>
    
# **3.4 Indexaci√≥n y filtrado**

</font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
                  np.random.randint(low=0, high=10, size=(10, 2)),
                  index=['a','b','c','d','e','f','g','h','i','j'],
                  columns=["Cod_empleado","Calificacion"]
                 )
df

   Cod_empleado  Calificacion
a             4             6
b             3             5
c             5             8
d             4             1
e             0             9
f             1             9
g             4             2
h             8             7
i             7             2
j             2             9

In [3]:
df['Calificacion']

a    6
b    5
c    8
d    1
e    9
f    9
g    2
h    7
i    2
j    9
Name: Calificacion, dtype: int32

### <font color=#003d5c>_Seleccionar con `.loc`_ </font>

In [4]:
df.loc['a']

Cod_empleado    4
Calificacion    6
Name: a, dtype: int32

In [5]:
df.loc['b':'f']

   Cod_empleado  Calificacion
b             3             5
c             5             8
d             4             1
e             0             9
f             1             9

In [8]:

df.loc[df.index[3:7],'Cod_empleado'] #df.index son los indices que quiero ver

d    4
e    0
f    1
g    4
Name: Cod_empleado, dtype: int32

### <font color=#003d5c>_Seleccionar con `.iloc`_ </font>

In [11]:
df.iloc[0:3] # index location

   Cod_empleado  Calificacion
a             4             6
b             3             5
c             5             8

In [10]:
df.iloc[3:]

   Cod_empleado  Calificacion
d             4             1
e             0             9
f             1             9
g             4             2
h             8             7
i             7             2
j             2             9