<font color=Green>
    
# **3.7 Manejo de datos ausentes**

</font>

### `pandas` toma a los valores `NaN` y `None` como valores ausentes. La función `pandas.isnull()` se puede usar para determinar si existen valores ausentes en los datos.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'VarA': ['aa', None, 'cc'],
    'VarB': [20, 30, None],
    'VarC': [1234, 3456, 6789]
    }, 
    index = ['Caso1','Caso2','Caso3']
)

df

       VarA  VarB  VarC
Caso1    aa  20.0  1234
Caso2  None  30.0  3456
Caso3    cc   NaN  6789

In [3]:
pd.isnull(df)

        VarA   VarB   VarC
Caso1  False  False  False
Caso2   True  False  False
Caso3  False   True  False

In [4]:
pd.isnull(df).sum()

VarA    1
VarB    1
VarC    0
dtype: int64

### Debemos decidir si descartamos las filas que incluyen valores ausentes, esto lo conseguimos usando el método `.dropna()`:

In [6]:
df.dropna(subset=["VarA",'VarB']) #elimina las filas que tienen aunque sea un valor nulo, subset significa subconjuto, por lo tanto este metodo puede evaluar valores no exitentes en un sibconjuto

      VarA  VarB  VarC
Caso1   aa  20.0  1234

### Otra opción es sustituir los valores `NaN` con un valor determinado, para esto usamos el método `.fillna()` .

In [7]:
df.fillna("")

      VarA  VarB  VarC
Caso1   aa  20.0  1234
Caso2       30.0  3456
Caso3   cc        6789

In [8]:
df.fillna(df.mean()) #chequear que la columna de caracteres no puede obtener la media aritmetica

       VarA  VarB  VarC
Caso1    aa  20.0  1234
Caso2  None  30.0  3456
Caso3    cc  25.0  6789

In [9]:
df.fillna(25)

      VarA  VarB  VarC
Caso1   aa  20.0  1234
Caso2   25  30.0  3456
Caso3   cc  25.0  6789